{% extends '::base.html.twig' %}

{% block body %}
    <table id="app" class="wishlist js-wishlist" :class="{ 'wishlist--active': isActive }">
        <caption class="wishlist__title">
            <div class="wishlist__title-wrapper">
                <div class="wishlist__title-text">{{ 'wishlist.table.title'|trans }}</div>
                <wishlist-pagination
                    :lang="lang"
                    :pagination="pagination"
                    @paginated="goToPage"></wishlist-pagination>
            </div>
        </caption>
        <tbody>
        <tr is="wishlist-item"
            v-for="wish in wishlist"
            :lang="lang"
            :wish="wish"
            :key="wish.id"
            @published="publish"
            @unpublished="unpublish"></tr>
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    {% verbatim %}
    <template id="wishlist-pagination">
        <div class="wishlist__pagination pagination">
            <div class="pagination__link pagination__link--prev"
                 @click="prev">
                <svg class="pagination__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path transform="scale(-1,1) translate(-24,0)" d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path></svg>
            </div>
            {{ pagination.startIndex }}-{{ pagination.endIndex }}
            {{ lang.of }}
            {{ pagination.total }}
            {{ lang.total }}
            <div class="pagination__link pagination__link--next"
                 @click="next">
                <svg class="pagination__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"></path></svg>
            </div>
        </div>
    </template>
    <template id="wishlist-item">
        <tr :class="{ 'wishlist__wish js-wish': true, 'wishlist__wish--unpublished': !wish.isPublished }"
            :data-id="wish.id">
            <td class="wishlist__muted">{{ wish.createdAt }}</td>
            <td class="wishlist__name">{{ wish.name }}</td>
            <td>{{ wish.fund }} {{ lang.of }} {{ wish.price }}</td>
            <td class="wishlist__muted">{{ wish.currency }}</td>
            <td>
                <button
                    type="button"
                    class="wishlist__publish-button"
                    data-url="#"
                    @click="togglePublishedStatus(wish, $event)">
                    {{ wish.isPublished ? lang.unpublish : lang.publish }}
                </button>
            </td>
        </tr>
    </template>
    {% endverbatim %}
{% endblock %}