<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %} • Wishlist</title>
        <link rel="stylesheet" href="{{ asset('assets/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="layout">
            {% block body %}{% endblock %}
        </div>
        <script>
            window.translations = {
                title: '{{ 'wishlist.table.title'|trans }}',
                publish: '{{ 'wishlist.table.publish'|trans }}',
                unpublish: '{{ 'wishlist.table.unpublish'|trans }}',
                of: '{{ 'wishlist.table.of'|trans }}',
                depositsOf: '{{ 'wishlist.table.deposits_of'|trans }}',
                enterNewDeposit: '{{ 'wishlist.table.enter_new_deposit'|trans }}',
                deposit: '{{ 'wishlist.table.deposit'|trans }}'
            };
        </script>
        <script src="{{ asset('assets/app.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    </body>
</html>
